{% extends "news/basis.html" %}
{% block titel %}
News-Übersicht
{% endblock %}
{% block inhalt %}
{% if user.is_authenticated %}
{% for n in object_list %}
<div class="container">
    <div class="titelzeile">
        <div class="titel">{{ n.titel | escape}}
        </div>
        <div class="zeitstempel">{{ n.zeitstempel }}
        </div>
    </div>
    <br>
    <div class="text">
        {{ n.meldung|escape|linebreaksbr }}
        <div class="link_unten">
            <a href="{% url 'news:meldung_detail' n.id %}">
                Details
            </a>
        </div>
    </div>
</div>
{% else %}
<p>
Tut uns leid, aber du musst dich <a href="{% url 'login' %}">hier einloggen</a>
oder dich <a href="{% url 'news:signup' %}">hier registrieren</a>
</p>
{% endfor %}
{% endif %}
{% endblock %}