absl-py==2.0.0
# annotated-types==0.6.0
anyio==4.1.0
# asgiref==3.7.2
# astroid==3.0.1
astunparse==1.6.3
atomicwrites==1.4.1
attrs==23.1.0
backports.zoneinfo==0.2.1
blinker==1.7.0
cachetools==5.3.2
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
contourpy==1.1.1
cryptography==42.0.7
cycler==0.12.1
dill==0.3.7
distro==1.8.0
Django==4.2.2
docutils==0.20.1
exceptiongroup==1.2.0
Flask==3.0.0
flatbuffers==23.5.26
fonttools==4.46.0
gast==0.4.0
google-auth==2.25.2
google-pasta==0.2.0
grpcio==1.60.0
h11==0.14.0
h5py==3.10.0
httpcore==1.0.2
httpx==0.25.2
idna==3.4
importlib-metadata==6.8.0
importlib-resources==6.1.1
isort==5.12.0
itsdangerous==2.1.2
jaraco.classes==3.3.0
Jinja2==3.1.2
joblib==1.3.2
# jwcrypto==1.5.6
keras==2.13.1
keyring==24.3.0
kiwisolver==1.4.5
libclang==16.0.6
Markdown==3.5.1
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.7.4
mccabe==0.7.0
mdurl==0.1.2
more-itertools==10.1.0
nh3==0.2.14
numpy==1.24.3
# openai==1.3.8
opt-einsum==3.3.0
packaging==23.2
pandas==2.0.3
Pillow==9.5.0
pkginfo==1.9.6
platformdirs==4.1.0
pluggy==1.3.0
protobuf==4.25.1
py==1.11.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.22
# pydantic==2.5.2
# pydantic_core==2.14.5
pygame==2.5.2
Pygments==2.16.1
# pylint==3.0.2
pyparsing==3.1.1
pytest==4.4.1
pytest-runner==4.4
python-dateutil==2.8.2
pytz==2023.3.post1
pywin32-ctypes==0.2.2
readme-renderer==42.0
requests==2.31.0
requests-toolbelt==1.0.0
rfc3986==2.0.0
# rich==13.6.0
rsa==4.9
scikit-learn==1.3.2
scipy==1.10.1
six==1.16.0
sniffio==1.3.0
sqlparse==0.4.4
tensorboard==2.13.0
tensorboard-data-server==0.7.2
tensorflow==2.13.0
tensorflow-estimator==2.13.0
tensorflow-intel==2.13.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
threadpoolctl==3.2.0
tomli==2.0.1
tomlkit==0.12.3
tqdm==4.66.1
twine==4.0.2
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.0.7
Werkzeug==3.0.1
wrapt==1.16.0
zipp==3.17.0
