html {
    /* background-image: url('images/backgroundImage.jpg'); */
    background-color: #000000;
    color: #ffffff;
}
a {
    background-color: #ffffff;
    color: #000000;
}
a:hover {
    color: #ff0000;
    background-color: #00008b;
}