{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'news/css/base.css'%}">
        <title>Unsere Django-Seite</title>
    </head>
    <body>
        <div id="inhalt">
            <h2>
                {% block titel %}
                    Django Website
                {% endblock %}
            </h2>
            {% block links %}
            
            {% endblock %}
            {% block inhalt %}

            {% endblock %}
        </div>
    </body>
</html>